@import '../../theme/theme.scss';

.scroll-tile {
    display: flex;
    flex-direction: column;
    margin: $pad-md $pad-lg;
}

.scroll-title__label {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    background: transparent;
    border: $border-radius solid transparent;
}

.scroll-tile__description {
    width: 100%;
    height: 200px;
    margin: calc(2 * #{$pad-lg});
    padding: $pad-lg;
    border: 1px solid grey;
}

.scroll-tile__icon {
    flex-grow: 0;
    height: $scroll-icon;
    width: $scroll-icon;
    background: transparent;
}

.scroll-tile__icon--open {
    transform: rotate (180deg);
}