@import '../../theme/theme.scss';

.button-wrapper {
    padding: $pad-lg;
    height: fit-content;
    width: fit-content;

    & span {
        @include font-regular();
    }
}

.button-wrapper__fill-width {
    width: 100%;
    
    & .button {
        width: 100%;
    }
}