.content {
    align-content: center;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 50%;
}

.labelButton {
    margin-top: 20px;
}

.button {
    margin-top: 20px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}