@import '../theme/theme.scss';

.view__header {
    flex-grow: 1;
    overflow-wrap: break-word;
    @include font-header();
    margin-top: calc(2 * #{$pad-lg});
    padding: 0 calc(2 * #{$pad-lg});
}

.login-view {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.login-view__background {
    height: 100%;
    background-image: url("../assets/gv.jpg");
    background-repeat: no-repeat;
    padding: calc(4 * #{$pad-lg}) calc(2 * #{$pad-lg});
    display: flex;
    flex-direction: column;
}

.login-view__login {
    flex-grow: 0;
    width: 100%;
    opacity: unset;
}