@import '../theme/theme.scss';

.view__header {
    flex-grow: 1;
    overflow-wrap: break-word;
    @include font-header();
    margin-top: calc(2 * #{$pad-lg});
    padding: 0 calc(2 * #{$pad-lg});
}

.home-view__wrappers {
    flex-grow: 1;
    
}

.home-view {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.home-view__dock {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 0 5 * $pad-lg; 

    .scroll-tile {
        flex-grow: 1;
        width: 45vw;
        height: 80px;
        margin: $pad-sm;
    }
}

.login-view {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.login-view__background {
    height: 100%;
    background-image: url("../assets/gv.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: calc(4 * #{$pad-lg}) calc(2 * #{$pad-lg});
    display: flex;
    flex-direction: column;
}

.login-view__login {
    flex-grow: 0;
    width: 100%;
    opacity: unset;
}

.views__modal {
    height: 100%;
}

.views__bullets {
    margin: $pad-lg;
}